@font-face {
	font-family: "devui-icomoon";
	src: url('fonts/devui-icomoon.eot?1622620995');
	src: url('fonts/devui-icomoon.woff?1622620995') format('woff'),
		url('fonts/devui-icomoon.ttf?1622620995') format('truetype'),
		url('fonts/devui-icomoon.svg?1622620995#devui-icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devui-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-branch-node:before {
	content: "\E001";
}

.icon-down-customization:before {
	content: "\E002";
}

.icon-new-bug:before {
	content: "\E003";
}

.icon-op-delete:before {
	content: "\E004";
}

.icon-code-editor-add:before {
	content: "\E005";
}

.icon-code-editor-alert:before {
	content: "\E006";
}

.icon-code-editor-close:before {
	content: "\E007";
}

.icon-code-editor-dark:before {
	content: "\E008";
}

.icon-code-editor-flod:before {
	content: "\E009";
}

.icon-code-editor-fullscreen:before {
	content: "\E00A";
}

.icon-code-editor-less:before {
	content: "\E00B";
}

.icon-code-editor-light:before {
	content: "\E00C";
}

.icon-code-editor-main:before {
	content: "\E00D";
}

.icon-code-editor-run:before {
	content: "\E00E";
}

.icon-code-editor-save:before {
	content: "\E00F";
}

.icon-code-editor-temporary:before {
	content: "\E010";
}

.icon-code-editor-window:before {
	content: "\E011";
}

.icon-add-tasklist:before {
	content: "\E012";
}

.icon-at:before {
	content: "\E013";
}

.icon-bold:before {
	content: "\E014";
}

.icon-clear-style:before {
	content: "\E015";
}

.icon-color:before {
	content: "\E016";
}

.icon-editor-comment:before {
	content: "\E017";
}

.icon-editor-cut:before {
	content: "\E018";
}

.icon-emoji:before {
	content: "\E019";
}

.icon-font-background:before {
	content: "\E01A";
}

.icon-font-size:before {
	content: "\E01B";
}

.icon-font:before {
	content: "\E01C";
}

.icon-format-painter:before {
	content: "\E01D";
}

.icon-h-title:before {
	content: "\E01E";
}

.icon-h1-title:before {
	content: "\E01F";
}

.icon-h2-title:before {
	content: "\E020";
}

.icon-insert-ordered-list:before {
	content: "\E021";
}

.icon-insert-quote:before {
	content: "\E022";
}

.icon-insert-unordered-list:before {
	content: "\E023";
}

.icon-italic:before {
	content: "\E024";
}

.icon-line-spacing:before {
	content: "\E025";
}

.icon-link:before {
	content: "\E026";
}

.icon-markdown:before {
	content: "\E027";
}

.icon-multi-picture:before {
	content: "\E028";
}

.icon-picture:before {
	content: "\E029";
}

.icon-redo:before {
	content: "\E02A";
}

.icon-rich-text-editor:before {
	content: "\E02B";
}

.icon-search-replace:before {
	content: "\E02C";
}

.icon-strikethrough:before {
	content: "\E02D";
}

.icon-table:before {
	content: "\E02E";
}

.icon-text-align-center:before {
	content: "\E02F";
}

.icon-text-align-left:before {
	content: "\E030";
}

.icon-text-align-right:before {
	content: "\E031";
}

.icon-ue-expand:before {
	content: "\E032";
}

.icon-underline:before {
	content: "\E033";
}

.icon-undo:before {
	content: "\E034";
}

.icon-ban:before {
	content: "\E035";
}

.icon-dot-status:before {
	content: "\E036";
}

.icon-error-o:before {
	content: "\E037";
}

.icon-error:before {
	content: "\E038";
}

.icon-forbidding-o:before {
	content: "\E039";
}

.icon-forbidding:before {
	content: "\E03A";
}

.icon-info-o:before {
	content: "\E03B";
}

.icon-info:before {
	content: "\E03C";
}

.icon-priority:before {
	content: "\E03D";
}

.icon-right-o:before {
	content: "\E03E";
}

.icon-right:before {
	content: "\E03F";
}

.icon-running-o:before {
	content: "\E040";
}

.icon-running:before {
	content: "\E041";
}

.icon-solved:before {
	content: "\E042";
}

.icon-terminate:before {
	content: "\E043";
}

.icon-timeout:before {
	content: "\E044";
}

.icon-unsolved:before {
	content: "\E045";
}

.icon-waiting:before {
	content: "\E046";
}

.icon-warning-o:before {
	content: "\E047";
}

.icon-warning:before {
	content: "\E048";
}

.icon-add-2:before {
	content: "\E049";
}

.icon-add-bug:before {
	content: "\E04A";
}

.icon-add-child-node:before {
	content: "\E04B";
}

.icon-add-directory:before {
	content: "\E04C";
}

.icon-add-file:before {
	content: "\E04D";
}

.icon-add-fold:before {
	content: "\E04E";
}

.icon-add-interface-use-case:before {
	content: "\E04F";
}

.icon-add-label:before {
	content: "\E050";
}

.icon-add-manual-use-case:before {
	content: "\E051";
}

.icon-add-member:before {
	content: "\E052";
}

.icon-add-sibling-node:before {
	content: "\E053";
}

.icon-add-sub-module:before {
	content: "\E054";
}

.icon-add-sub-node:before {
	content: "\E055";
}

.icon-add:before {
	content: "\E056";
}

.icon-all-close:before {
	content: "\E057";
}

.icon-all-project:before {
	content: "\E058";
}

.icon-archive:before {
	content: "\E059";
}

.icon-archived:before {
	content: "\E05A";
}

.icon-arrow-down:before {
	content: "\E05B";
}

.icon-arrow-left:before {
	content: "\E05C";
}

.icon-arrow-right:before {
	content: "\E05D";
}

.icon-arrow-up:before {
	content: "\E05E";
}

.icon-base-info2:before {
	content: "\E05F";
}

.icon-branch-compare:before {
	content: "\E060";
}

.icon-branch-merge:before {
	content: "\E061";
}

.icon-bug:before {
	content: "\E062";
}

.icon-build-with-tool:before {
	content: "\E063";
}

.icon-bulk-edit:before {
	content: "\E064";
}

.icon-buy:before {
	content: "\E065";
}

.icon-calendar:before {
	content: "\E066";
}

.icon-cancel-forbidden:before {
	content: "\E067";
}

.icon-cherry-pick:before {
	content: "\E068";
}

.icon-chevron-down:before {
	content: "\E069";
}

.icon-chevron-right:before {
	content: "\E06A";
}

.icon-chevron-up:before {
	content: "\E06B";
}

.icon-classroom-approve:before {
	content: "\E06C";
}

.icon-classroom-post-answers-large:before {
	content: "\E06D";
}

.icon-classroom-post-results-large:before {
	content: "\E06E";
}

.icon-classroom-reject:before {
	content: "\E06F";
}

.icon-close-folder:before {
	content: "\E070";
}

.icon-close:before {
	content: "\E071";
}

.icon-closed-merge:before {
	content: "\E072";
}

.icon-code:before {
	content: "\E073";
}

.icon-collapse-info:before {
	content: "\E074";
}

.icon-collapse:before {
	content: "\E075";
}

.icon-compare:before {
	content: "\E076";
}

.icon-connect-code:before {
	content: "\E077";
}

.icon-connect:before {
	content: "\E078";
}

.icon-connection-relate:before {
	content: "\E079";
}

.icon-copy-last-result:before {
	content: "\E07A";
}

.icon-copy-to-new:before {
	content: "\E07B";
}

.icon-copy:before {
	content: "\E07C";
}

.icon-create-sub-item:before {
	content: "\E07D";
}

.icon-create-test-user-case:before {
	content: "\E07E";
}

.icon-customize-download:before {
	content: "\E07F";
}

.icon-cut:before {
	content: "\E080";
}

.icon-dashboard:before {
	content: "\E081";
}

.icon-delete:before {
	content: "\E082";
}

.icon-depend:before {
	content: "\E083";
}

.icon-directory:before {
	content: "\E084";
}

.icon-down-config:before {
	content: "\E085";
}

.icon-download-baseline:before {
	content: "\E086";
}

.icon-download-clone:before {
	content: "\E087";
}

.icon-download:before {
	content: "\E088";
}

.icon-drag-small:before {
	content: "\E089";
}

.icon-drag:before {
	content: "\E08A";
}

.icon-edit:before {
	content: "\E08B";
}

.icon-exit-loop:before {
	content: "\E08C";
}

.icon-expand-info:before {
	content: "\E08D";
}

.icon-expand:before {
	content: "\E08E";
}

.icon-export:before {
	content: "\E08F";
}

.icon-filter-o:before {
	content: "\E090";
}

.icon-filter:before {
	content: "\E091";
}

.icon-fold-bar:before {
	content: "\E092";
}

.icon-fold:before {
	content: "\E093";
}

.icon-folder-2:before {
	content: "\E094";
}

.icon-forbid:before {
	content: "\E095";
}

.icon-fork-code:before {
	content: "\E096";
}

.icon-fork:before {
	content: "\E097";
}

.icon-frame-contract:before {
	content: "\E098";
}

.icon-frame-expand:before {
	content: "\E099";
}

.icon-function-guide:before {
	content: "\E09A";
}

.icon-go-back-2:before {
	content: "\E09B";
}

.icon-go-back:before {
	content: "\E09C";
}

.icon-go-chart:before {
	content: "\E09D";
}

.icon-go-cloud-ide:before {
	content: "\E09E";
}

.icon-go-cloud-ide2:before {
	content: "\E09F";
}

.icon-go-cloudserver:before {
	content: "\E0A0";
}

.icon-go-code-problem:before {
	content: "\E0A1";
}

.icon-go-document:before {
	content: "\E0A2";
}

.icon-go-email:before {
	content: "\E0A3";
}

.icon-go-mobile:before {
	content: "\E0A4";
}

.icon-go-module:before {
	content: "\E0A5";
}

.icon-go-pipeline:before {
	content: "\E0A6";
}

.icon-go-story:before {
	content: "\E0A7";
}

.icon-go-tree:before {
	content: "\E0A8";
}

.icon-gps:before {
	content: "\E0A9";
}

.icon-groupby:before {
	content: "\E0AA";
}

.icon-guidance:before {
	content: "\E0AB";
}

.icon-head-notice:before {
	content: "\E0AC";
}

.icon-health:before {
	content: "\E0AD";
}

.icon-help:before {
	content: "\E0AE";
}

.icon-hot:before {
	content: "\E0AF";
}

.icon-hotkey:before {
	content: "\E0B0";
}

.icon-import:before {
	content: "\E0B1";
}

.icon-insert-image:before {
	content: "\E0B2";
}

.icon-json:before {
	content: "\E0B3";
}

.icon-layout:before {
	content: "\E0B4";
}

.icon-letter-a:before {
	content: "\E0B5";
}

.icon-like-solid:before {
	content: "\E0B6";
}

.icon-list-view:before {
	content: "\E0B7";
}

.icon-loading:before {
	content: "\E0B8";
}

.icon-local-parameter:before {
	content: "\E0B9";
}

.icon-log:before {
	content: "\E0BA";
}

.icon-loop:before {
	content: "\E0BB";
}

.icon-love:before {
	content: "\E0BC";
}

.icon-maxmize:before {
	content: "\E0BD";
}

.icon-merge-request:before {
	content: "\E0BE";
}

.icon-milestone:before {
	content: "\E0BF";
}

.icon-minimize:before {
	content: "\E0C0";
}

.icon-minus:before {
	content: "\E0C1";
}

.icon-mobile:before {
	content: "\E0C2";
}

.icon-modify-trace:before {
	content: "\E0C3";
}

.icon-more-func:before {
	content: "\E0C4";
}

.icon-more-operate:before {
	content: "\E0C5";
}

.icon-op-add:before {
	content: "\E0C6";
}

.icon-op-clearup:before {
	content: "\E0C7";
}

.icon-op-download:before {
	content: "\E0C8";
}

.icon-op-exit-2:before {
	content: "\E0C9";
}

.icon-op-exit:before {
	content: "\E0CA";
}

.icon-op-help:before {
	content: "\E0CB";
}

.icon-op-list:before {
	content: "\E0CC";
}

.icon-op-member:before {
	content: "\E0CD";
}

.icon-op-mine:before {
	content: "\E0CE";
}

.icon-op-mobile:before {
	content: "\E0CF";
}

.icon-op-task:before {
	content: "\E0D0";
}

.icon-op-upload:before {
	content: "\E0D1";
}

.icon-open-folder:before {
	content: "\E0D2";
}

.icon-plan:before {
	content: "\E0D3";
}

.icon-preview-forbidden:before {
	content: "\E0D4";
}

.icon-preview:before {
	content: "\E0D5";
}

.icon-project-space:before {
	content: "\E0D6";
}

.icon-projects:before {
	content: "\E0D7";
}

.icon-property:before {
	content: "\E0D8";
}

.icon-publish:before {
	content: "\E0D9";
}

.icon-qrcode:before {
	content: "\E0DA";
}

.icon-quick-stop:before {
	content: "\E0DB";
}

.icon-refresh:before {
	content: "\E0DC";
}

.icon-release-set:before {
	content: "\E0DD";
}

.icon-remind-close:before {
	content: "\E0DE";
}

.icon-remind:before {
	content: "\E0DF";
}

.icon-remove-member-icon:before {
	content: "\E0E0";
}

.icon-remove:before {
	content: "\E0E1";
}

.icon-rename:before {
	content: "\E0E2";
}

.icon-restart:before {
	content: "\E0E3";
}

.icon-rollback:before {
	content: "\E0E4";
}

.icon-rollback2:before {
	content: "\E0E5";
}

.icon-run-with-parameter:before {
	content: "\E0E6";
}

.icon-run:before {
	content: "\E0E7";
}

.icon-save:before {
	content: "\E0E8";
}

.icon-scan-qrcode:before {
	content: "\E0E9";
}

.icon-scrum:before {
	content: "\E0EA";
}

.icon-search:before {
	content: "\E0EB";
}

.icon-select-arrow:before {
	content: "\E0EC";
}

.icon-select-horizontal-layout:before {
	content: "\E0ED";
}

.icon-select-vertical-layout:before {
	content: "\E0EE";
}

.icon-set-keyword:before {
	content: "\E0EF";
}

.icon-set-manage-icon:before {
	content: "\E0F0";
}

.icon-set-normal-icon:before {
	content: "\E0F1";
}

.icon-set-permission:before {
	content: "\E0F2";
}

.icon-set-role:before {
	content: "\E0F3";
}

.icon-setup:before {
	content: "\E0F4";
}

.icon-share:before {
	content: "\E0F5";
}

.icon-shrink:before {
	content: "\E0F6";
}

.icon-sort:before {
	content: "\E0F7";
}

.icon-spread-info:before {
	content: "\E0F8";
}

.icon-star-o:before {
	content: "\E0F9";
}

.icon-star:before {
	content: "\E0FA";
}

.icon-start-merge:before {
	content: "\E0FB";
}

.icon-start-use:before {
	content: "\E0FC";
}

.icon-stop:before {
	content: "\E0FD";
}

.icon-submit-earlier:before {
	content: "\E0FE";
}

.icon-submit-update:before {
	content: "\E0FF";
}

.icon-suspend:before {
	content: "\E100";
}

.icon-switch:before {
	content: "\E101";
}

.icon-synchronize:before {
	content: "\E102";
}

.icon-unarchive:before {
	content: "\E103";
}

.icon-unfold-bar:before {
	content: "\E104";
}

.icon-unload:before {
	content: "\E105";
}

.icon-update-kanban:before {
	content: "\E106";
}

.icon-upload:before {
	content: "\E107";
}

.icon-veIcon-briefcase:before {
	content: "\E108";
}

.icon-view:before {
	content: "\E109";
}

.icon-zoom-in:before {
	content: "\E10A";
}

.icon-zoom-out:before {
	content: "\E10B";
}

.icon-accelerations:before {
	content: "\E10C";
}

.icon-access-token:before {
	content: "\E10D";
}

.icon-advisory:before {
	content: "\E10E";
}

.icon-archived-item:before {
	content: "\E10F";
}

.icon-arrow-down-o:before {
	content: "\E110";
}

.icon-arrow-left-o:before {
	content: "\E111";
}

.icon-arrow-right-o:before {
	content: "\E112";
}

.icon-arrow-up-o:before {
	content: "\E113";
}

.icon-assign:before {
	content: "\E114";
}

.icon-b-tree:before {
	content: "\E115";
}

.icon-base-info:before {
	content: "\E116";
}

.icon-basicinfo:before {
	content: "\E117";
}

.icon-branch-merge-o:before {
	content: "\E118";
}

.icon-bulletin:before {
	content: "\E119";
}

.icon-calendar-end:before {
	content: "\E11A";
}

.icon-calendar-start:before {
	content: "\E11B";
}

.icon-chevron-down-2:before {
	content: "\E11C";
}

.icon-chevron-up-2:before {
	content: "\E11D";
}

.icon-clearup:before {
	content: "\E11E";
}

.icon-clever-customer:before {
	content: "\E11F";
}

.icon-comment:before {
	content: "\E120";
}

.icon-commit:before {
	content: "\E121";
}

.icon-company-member:before {
	content: "\E122";
}

.icon-console:before {
	content: "\E123";
}

.icon-date:before {
	content: "\E124";
}

.icon-deploy-store:before {
	content: "\E125";
}

.icon-desk-notice:before {
	content: "\E126";
}

.icon-devcloud-service:before {
	content: "\E127";
}

.icon-develop-collaboration:before {
	content: "\E128";
}

.icon-dislike:before {
	content: "\E129";
}

.icon-domain:before {
	content: "\E12A";
}

.icon-en-change:before {
	content: "\E12B";
}

.icon-exit:before {
	content: "\E12C";
}

.icon-experice-new:before {
	content: "\E12D";
}

.icon-fee-center:before {
	content: "\E12E";
}

.icon-feedback:before {
	content: "\E12F";
}

.icon-feedback2:before {
	content: "\E130";
}

.icon-file:before {
	content: "\E131";
}

.icon-folder:before {
	content: "\E132";
}

.icon-for-example:before {
	content: "\E133";
}

.icon-forum:before {
	content: "\E134";
}

.icon-global-guide:before {
	content: "\E135";
}

.icon-go-top:before {
	content: "\E136";
}

.icon-helping:before {
	content: "\E137";
}

.icon-homepage:before {
	content: "\E138";
}

.icon-id:before {
	content: "\E139";
}

.icon-identity-auth:before {
	content: "\E13A";
}

.icon-infomation:before {
	content: "\E13B";
}

.icon-inform:before {
	content: "\E13C";
}

.icon-infrastructure:before {
	content: "\E13D";
}

.icon-ip-legality:before {
	content: "\E13E";
}

.icon-license:before {
	content: "\E13F";
}

.icon-like:before {
	content: "\E140";
}

.icon-line-chart:before {
	content: "\E141";
}

.icon-lock-open:before {
	content: "\E142";
}

.icon-lock-private:before {
	content: "\E143";
}

.icon-locked-key:before {
	content: "\E144";
}

.icon-management:before {
	content: "\E145";
}

.icon-marketplace:before {
	content: "\E146";
}

.icon-member:before {
	content: "\E147";
}

.icon-merge-request2:before {
	content: "\E148";
}

.icon-merge:before {
	content: "\E149";
}

.icon-message-2:before {
	content: "\E14A";
}

.icon-message:before {
	content: "\E14B";
}

.icon-mine:before {
	content: "\E14C";
}

.icon-modify:before {
	content: "\E14D";
}

.icon-module:before {
	content: "\E14E";
}

.icon-notice:before {
	content: "\E14F";
}

.icon-open-folder-2:before {
	content: "\E150";
}

.icon-operation-log:before {
	content: "\E151";
}

.icon-related:before {
	content: "\E152";
}

.icon-relation-item:before {
	content: "\E153";
}

.icon-round-corner:before {
	content: "\E154";
}

.icon-safe-setting:before {
	content: "\E155";
}

.icon-scan-focus:before {
	content: "\E156";
}

.icon-selct-template:before {
	content: "\E157";
}

.icon-setting:before {
	content: "\E158";
}

.icon-sharing:before {
	content: "\E159";
}

.icon-suggestion:before {
	content: "\E15A";
}

.icon-system:before {
	content: "\E15B";
}

.icon-tag:before {
	content: "\E15C";
}

.icon-theme-color:before {
	content: "\E15D";
}

.icon-time-update:before {
	content: "\E15E";
}

.icon-time:before {
	content: "\E15F";
}

.icon-trigger:before {
	content: "\E160";
}

.icon-unarchived-item:before {
	content: "\E161";
}

.icon-unlock:before {
	content: "\E162";
}

.icon-unlove:before {
	content: "\E163";
}

.icon-user-defined:before {
	content: "\E164";
}

.icon-version-history:before {
	content: "\E165";
}