@font-face {
	font-family: "devui-icomoon";
	src: url('fonts/devui-icomoon.eot?1715860387');
	src: url('fonts/devui-icomoon.woff?1715860387') format('woff'),
		url('fonts/devui-icomoon.ttf?1715860387') format('truetype'),
		url('fonts/devui-icomoon.svg?1715860387#devui-icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devui-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-add-tasklist:before {
	content: "\E001";
}

.icon-at:before {
	content: "\E002";
}

.icon-bold:before {
	content: "\E003";
}

.icon-clear-style:before {
	content: "\E004";
}

.icon-color:before {
	content: "\E005";
}

.icon-editor-comment:before {
	content: "\E006";
}

.icon-editor-cut:before {
	content: "\E007";
}

.icon-emoji:before {
	content: "\E008";
}

.icon-font-background:before {
	content: "\E009";
}

.icon-font-size:before {
	content: "\E00A";
}

.icon-font:before {
	content: "\E00B";
}

.icon-format-painter:before {
	content: "\E00C";
}

.icon-h-title:before {
	content: "\E00D";
}

.icon-h1-title:before {
	content: "\E00E";
}

.icon-h2-title:before {
	content: "\E00F";
}

.icon-insert-ordered-list:before {
	content: "\E010";
}

.icon-insert-quote:before {
	content: "\E011";
}

.icon-insert-unordered-list:before {
	content: "\E012";
}

.icon-italic:before {
	content: "\E013";
}

.icon-line-spacing:before {
	content: "\E014";
}

.icon-link:before {
	content: "\E015";
}

.icon-markdown:before {
	content: "\E016";
}

.icon-multi-picture:before {
	content: "\E017";
}

.icon-picture:before {
	content: "\E018";
}

.icon-redo:before {
	content: "\E019";
}

.icon-rich-text-editor:before {
	content: "\E01A";
}

.icon-search-replace:before {
	content: "\E01B";
}

.icon-strikethrough:before {
	content: "\E01C";
}

.icon-table:before {
	content: "\E01D";
}

.icon-text-align-center:before {
	content: "\E01E";
}

.icon-text-align-left:before {
	content: "\E01F";
}

.icon-text-align-right:before {
	content: "\E020";
}

.icon-ue-expand:before {
	content: "\E021";
}

.icon-underline:before {
	content: "\E022";
}

.icon-undo:before {
	content: "\E023";
}

.icon-code-editor-add:before {
	content: "\E024";
}

.icon-code-editor-alert:before {
	content: "\E025";
}

.icon-code-editor-close:before {
	content: "\E026";
}

.icon-code-editor-dark:before {
	content: "\E027";
}

.icon-code-editor-flod:before {
	content: "\E028";
}

.icon-code-editor-fullscreen:before {
	content: "\E029";
}

.icon-code-editor-less:before {
	content: "\E02A";
}

.icon-code-editor-light:before {
	content: "\E02B";
}

.icon-code-editor-main:before {
	content: "\E02C";
}

.icon-code-editor-run:before {
	content: "\E02D";
}

.icon-code-editor-save:before {
	content: "\E02E";
}

.icon-code-editor-temporary:before {
	content: "\E02F";
}

.icon-code-editor-window:before {
	content: "\E030";
}

.icon-ban:before {
	content: "\E031";
}

.icon-dot-status:before {
	content: "\E032";
}

.icon-error-o:before {
	content: "\E033";
}

.icon-error:before {
	content: "\E034";
}

.icon-forbidding-o:before {
	content: "\E035";
}

.icon-forbidding:before {
	content: "\E036";
}

.icon-info-o:before {
	content: "\E037";
}

.icon-info:before {
	content: "\E038";
}

.icon-priority:before {
	content: "\E039";
}

.icon-right-o:before {
	content: "\E03A";
}

.icon-right:before {
	content: "\E03B";
}

.icon-running-o:before {
	content: "\E03C";
}

.icon-running:before {
	content: "\E03D";
}

.icon-solved:before {
	content: "\E03E";
}

.icon-terminate:before {
	content: "\E03F";
}

.icon-timeout:before {
	content: "\E040";
}

.icon-unsolved:before {
	content: "\E041";
}

.icon-waiting:before {
	content: "\E042";
}

.icon-warning-o:before {
	content: "\E043";
}

.icon-warning:before {
	content: "\E044";
}

.icon-abstract:before {
	content: "\E045";
}

.icon-access-new:before {
	content: "\E046";
}

.icon-add-2:before {
	content: "\E047";
}

.icon-add-bug:before {
	content: "\E048";
}

.icon-add-child-node:before {
	content: "\E049";
}

.icon-add-directory:before {
	content: "\E04A";
}

.icon-add-file:before {
	content: "\E04B";
}

.icon-add-fold:before {
	content: "\E04C";
}

.icon-add-interface-use-case:before {
	content: "\E04D";
}

.icon-add-label:before {
	content: "\E04E";
}

.icon-add-manual-use-case:before {
	content: "\E04F";
}

.icon-add-member:before {
	content: "\E050";
}

.icon-add-sibling-node:before {
	content: "\E051";
}

.icon-add-sub-module:before {
	content: "\E052";
}

.icon-add-sub-node:before {
	content: "\E053";
}

.icon-add:before {
	content: "\E054";
}

.icon-align-center:before {
	content: "\E055";
}

.icon-align-left:before {
	content: "\E056";
}

.icon-align-right:before {
	content: "\E057";
}

.icon-all-close:before {
	content: "\E058";
}

.icon-all-project:before {
	content: "\E059";
}

.icon-archive:before {
	content: "\E05A";
}

.icon-archived:before {
	content: "\E05B";
}

.icon-arrow-down:before {
	content: "\E05C";
}

.icon-arrow-left:before {
	content: "\E05D";
}

.icon-arrow-right:before {
	content: "\E05E";
}

.icon-arrow-up:before {
	content: "\E05F";
}

.icon-base-info2:before {
	content: "\E060";
}

.icon-branch-compare:before {
	content: "\E061";
}

.icon-branch-merge:before {
	content: "\E062";
}

.icon-bug:before {
	content: "\E063";
}

.icon-build-with-tool:before {
	content: "\E064";
}

.icon-bulk-edit:before {
	content: "\E065";
}

.icon-buy:before {
	content: "\E066";
}

.icon-calendar:before {
	content: "\E067";
}

.icon-cancel-forbidden:before {
	content: "\E068";
}

.icon-cherry-pick:before {
	content: "\E069";
}

.icon-chevron-down:before {
	content: "\E06A";
}

.icon-chevron-right:before {
	content: "\E06B";
}

.icon-chevron-up:before {
	content: "\E06C";
}

.icon-circle:before {
	content: "\E06D";
}

.icon-classroom-approve:before {
	content: "\E06E";
}

.icon-classroom-post-answers-large:before {
	content: "\E06F";
}

.icon-classroom-post-results-large:before {
	content: "\E070";
}

.icon-classroom-reject:before {
	content: "\E071";
}

.icon-close-folder:before {
	content: "\E072";
}

.icon-close:before {
	content: "\E073";
}

.icon-closed-merge:before {
	content: "\E074";
}

.icon-cloud:before {
	content: "\E075";
}

.icon-collapse-info:before {
	content: "\E076";
}

.icon-collapse:before {
	content: "\E077";
}

.icon-compact:before {
	content: "\E078";
}

.icon-compare:before {
	content: "\E079";
}

.icon-compile:before {
	content: "\E07A";
}

.icon-connect-code:before {
	content: "\E07B";
}

.icon-connect:before {
	content: "\E07C";
}

.icon-connection-relate:before {
	content: "\E07D";
}

.icon-contain:before {
	content: "\E07E";
}

.icon-copy-last-result:before {
	content: "\E07F";
}

.icon-copy-point:before {
	content: "\E080";
}

.icon-copy-to-new:before {
	content: "\E081";
}

.icon-copy:before {
	content: "\E082";
}

.icon-cr-lock:before {
	content: "\E083";
}

.icon-create-sub-item:before {
	content: "\E084";
}

.icon-create-test-user-case:before {
	content: "\E085";
}

.icon-customize-download:before {
	content: "\E086";
}

.icon-cut:before {
	content: "\E087";
}

.icon-dashboard:before {
	content: "\E088";
}

.icon-delayed-execution:before {
	content: "\E089";
}

.icon-delete:before {
	content: "\E08A";
}

.icon-depend:before {
	content: "\E08B";
}

.icon-directory:before {
	content: "\E08C";
}

.icon-discover:before {
	content: "\E08D";
}

.icon-down-config:before {
	content: "\E08E";
}

.icon-download-baseline:before {
	content: "\E08F";
}

.icon-download:before {
	content: "\E090";
}

.icon-drag-small:before {
	content: "\E091";
}

.icon-drag:before {
	content: "\E092";
}

.icon-DTS:before {
	content: "\E093";
}

.icon-edit-directory:before {
	content: "\E094";
}

.icon-edit:before {
	content: "\E095";
}

.icon-evaluate:before {
	content: "\E096";
}

.icon-exit-loop:before {
	content: "\E097";
}

.icon-expand-info:before {
	content: "\E098";
}

.icon-expand-mode:before {
	content: "\E099";
}

.icon-expand:before {
	content: "\E09A";
}

.icon-export:before {
	content: "\E09B";
}

.icon-external-component:before {
	content: "\E09C";
}

.icon-filter-o:before {
	content: "\E09D";
}

.icon-filter:before {
	content: "\E09E";
}

.icon-fold-bar:before {
	content: "\E09F";
}

.icon-fold:before {
	content: "\E0A0";
}

.icon-folder-2:before {
	content: "\E0A1";
}

.icon-forbid:before {
	content: "\E0A2";
}

.icon-fork-code:before {
	content: "\E0A3";
}

.icon-fork:before {
	content: "\E0A4";
}

.icon-form-settings:before {
	content: "\E0A5";
}

.icon-frame-contract:before {
	content: "\E0A6";
}

.icon-frame-expand:before {
	content: "\E0A7";
}

.icon-function-guide:before {
	content: "\E0A8";
}

.icon-go-back-2:before {
	content: "\E0A9";
}

.icon-go-back:before {
	content: "\E0AA";
}

.icon-go-chart:before {
	content: "\E0AB";
}

.icon-go-cloud-ide:before {
	content: "\E0AC";
}

.icon-go-cloud-ide2:before {
	content: "\E0AD";
}

.icon-go-cloudserver:before {
	content: "\E0AE";
}

.icon-go-code-problem:before {
	content: "\E0AF";
}

.icon-go-document:before {
	content: "\E0B0";
}

.icon-go-email:before {
	content: "\E0B1";
}

.icon-go-mobile:before {
	content: "\E0B2";
}

.icon-go-module:before {
	content: "\E0B3";
}

.icon-go-pipeline:before {
	content: "\E0B4";
}

.icon-go-story:before {
	content: "\E0B5";
}

.icon-go-tree:before {
	content: "\E0B6";
}

.icon-gps:before {
	content: "\E0B7";
}

.icon-group-submit:before {
	content: "\E0B8";
}

.icon-group-update:before {
	content: "\E0B9";
}

.icon-groupby-2:before {
	content: "\E0BA";
}

.icon-groupby:before {
	content: "\E0BB";
}

.icon-guidance:before {
	content: "\E0BC";
}

.icon-head-notice:before {
	content: "\E0BD";
}

.icon-health-check:before {
	content: "\E0BE";
}

.icon-health:before {
	content: "\E0BF";
}

.icon-help:before {
	content: "\E0C0";
}

.icon-hot:before {
	content: "\E0C1";
}

.icon-hotkey:before {
	content: "\E0C2";
}

.icon-import:before {
	content: "\E0C3";
}

.icon-insert-image:before {
	content: "\E0C4";
}

.icon-insert:before {
	content: "\E0C5";
}

.icon-invalid-case:before {
	content: "\E0C6";
}

.icon-json:before {
	content: "\E0C7";
}

.icon-judge:before {
	content: "\E0C8";
}

.icon-knowledge-library:before {
	content: "\E0C9";
}

.icon-layout:before {
	content: "\E0CA";
}

.icon-letter-a:before {
	content: "\E0CB";
}

.icon-like-solid:before {
	content: "\E0CC";
}

.icon-list-view:before {
	content: "\E0CD";
}

.icon-loading:before {
	content: "\E0CE";
}

.icon-local-parameter:before {
	content: "\E0CF";
}

.icon-location:before {
	content: "\E0D0";
}

.icon-log:before {
	content: "\E0D1";
}

.icon-loop:before {
	content: "\E0D2";
}

.icon-loose:before {
	content: "\E0D3";
}

.icon-love:before {
	content: "\E0D4";
}

.icon-manual-review:before {
	content: "\E0D5";
}

.icon-manual:before {
	content: "\E0D6";
}

.icon-maxmize:before {
	content: "\E0D7";
}

.icon-merge-request:before {
	content: "\E0D8";
}

.icon-milestone:before {
	content: "\E0D9";
}

.icon-minimize:before {
	content: "\E0DA";
}

.icon-minus:before {
	content: "\E0DB";
}

.icon-mobile:before {
	content: "\E0DC";
}

.icon-modify-trace:before {
	content: "\E0DD";
}

.icon-more-func:before {
	content: "\E0DE";
}

.icon-more-operate:before {
	content: "\E0DF";
}

.icon-more-to-more:before {
	content: "\E0E0";
}

.icon-new-directory:before {
	content: "\E0E1";
}

.icon-new-test-set:before {
	content: "\E0E2";
}

.icon-notification:before {
	content: "\E0E3";
}

.icon-one-to-more:before {
	content: "\E0E4";
}

.icon-one-to-one:before {
	content: "\E0E5";
}

.icon-op-add:before {
	content: "\E0E6";
}

.icon-op-clearup:before {
	content: "\E0E7";
}

.icon-op-download:before {
	content: "\E0E8";
}

.icon-op-exit-2:before {
	content: "\E0E9";
}

.icon-op-exit:before {
	content: "\E0EA";
}

.icon-op-help:before {
	content: "\E0EB";
}

.icon-op-home:before {
	content: "\E0EC";
}

.icon-op-like:before {
	content: "\E0ED";
}

.icon-op-list:before {
	content: "\E0EE";
}

.icon-op-member:before {
	content: "\E0EF";
}

.icon-op-mine:before {
	content: "\E0F0";
}

.icon-op-mobile:before {
	content: "\E0F1";
}

.icon-op-task:before {
	content: "\E0F2";
}

.icon-op-unlove:before {
	content: "\E0F3";
}

.icon-op-upload:before {
	content: "\E0F4";
}

.icon-open-folder:before {
	content: "\E0F5";
}

.icon-open-raw:before {
	content: "\E0F6";
}

.icon-output:before {
	content: "\E0F7";
}

.icon-partial-pass:before {
	content: "\E0F8";
}

.icon-pasting:before {
	content: "\E0F9";
}

.icon-patchset-lock:before {
	content: "\E0FA";
}

.icon-percent:before {
	content: "\E0FB";
}

.icon-plan:before {
	content: "\E0FC";
}

.icon-preview-forbidden:before {
	content: "\E0FD";
}

.icon-preview:before {
	content: "\E0FE";
}

.icon-project-space:before {
	content: "\E0FF";
}

.icon-projects:before {
	content: "\E100";
}

.icon-property:before {
	content: "\E101";
}

.icon-publish:before {
	content: "\E102";
}

.icon-qrcode:before {
	content: "\E103";
}

.icon-quick-stop:before {
	content: "\E104";
}

.icon-refresh:before {
	content: "\E105";
}

.icon-release-set:before {
	content: "\E106";
}

.icon-remind-close:before {
	content: "\E107";
}

.icon-remind:before {
	content: "\E108";
}

.icon-remove-member-icon:before {
	content: "\E109";
}

.icon-remove:before {
	content: "\E10A";
}

.icon-rename:before {
	content: "\E10B";
}

.icon-request:before {
	content: "\E10C";
}

.icon-restart:before {
	content: "\E10D";
}

.icon-rollback:before {
	content: "\E10E";
}

.icon-rollback2:before {
	content: "\E10F";
}

.icon-run-with-parameter:before {
	content: "\E110";
}

.icon-run:before {
	content: "\E111";
}

.icon-save:before {
	content: "\E112";
}

.icon-scan-qrcode:before {
	content: "\E113";
}

.icon-scrum:before {
	content: "\E114";
}

.icon-search:before {
	content: "\E115";
}

.icon-select-arrow:before {
	content: "\E116";
}

.icon-select-horizontal-layout:before {
	content: "\E117";
}

.icon-select-vertical-layout:before {
	content: "\E118";
}

.icon-sequence:before {
	content: "\E119";
}

.icon-set-keyword:before {
	content: "\E11A";
}

.icon-set-manage-icon:before {
	content: "\E11B";
}

.icon-set-normal-icon:before {
	content: "\E11C";
}

.icon-set-permission:before {
	content: "\E11D";
}

.icon-set-role:before {
	content: "\E11E";
}

.icon-setting-result:before {
	content: "\E11F";
}

.icon-setup:before {
	content: "\E120";
}

.icon-share:before {
	content: "\E121";
}

.icon-shrink:before {
	content: "\E122";
}

.icon-sign:before {
	content: "\E123";
}

.icon-sort-down:before {
	content: "\E124";
}

.icon-sort:before {
	content: "\E125";
}

.icon-spread-info:before {
	content: "\E126";
}

.icon-standard:before {
	content: "\E127";
}

.icon-star-o:before {
	content: "\E128";
}

.icon-star:before {
	content: "\E129";
}

.icon-start-merge:before {
	content: "\E12A";
}

.icon-start-use:before {
	content: "\E12B";
}

.icon-stop:before {
	content: "\E12C";
}

.icon-store:before {
	content: "\E12D";
}

.icon-submit-earlier:before {
	content: "\E12E";
}

.icon-submit-update:before {
	content: "\E12F";
}

.icon-suspend:before {
	content: "\E130";
}

.icon-switch:before {
	content: "\E131";
}

.icon-synchronize:before {
	content: "\E132";
}

.icon-text-view:before {
	content: "\E133";
}

.icon-to-do:before {
	content: "\E134";
}

.icon-transactions:before {
	content: "\E135";
}

.icon-unarchive:before {
	content: "\E136";
}

.icon-unfold-bar:before {
	content: "\E137";
}

.icon-unlink:before {
	content: "\E138";
}

.icon-unload:before {
	content: "\E139";
}

.icon-update-kanban:before {
	content: "\E13A";
}

.icon-upload:before {
	content: "\E13B";
}

.icon-veIcon-briefcase:before {
	content: "\E13C";
}

.icon-verification:before {
	content: "\E13D";
}

.icon-view:before {
	content: "\E13E";
}

.icon-zoom-in:before {
	content: "\E13F";
}

.icon-zoom-out:before {
	content: "\E140";
}

.icon-accelerations:before {
	content: "\E141";
}

.icon-access-token:before {
	content: "\E142";
}

.icon-across-chain:before {
	content: "\E143";
}

.icon-add-child-node-o:before {
	content: "\E144";
}

.icon-add-example:before {
	content: "\E145";
}

.icon-add-group:before {
	content: "\E146";
}

.icon-add-member-new:before {
	content: "\E147";
}

.icon-add-node-front:before {
	content: "\E148";
}

.icon-add-node:before {
	content: "\E149";
}

.icon-add-requestor:before {
	content: "\E14A";
}

.icon-add-response-header:before {
	content: "\E14B";
}

.icon-add-response:before {
	content: "\E14C";
}

.icon-add-thin:before {
	content: "\E14D";
}

.icon-add-token:before {
	content: "\E14E";
}

.icon-add-variable:before {
	content: "\E14F";
}

.icon-add_image:before {
	content: "\E150";
}

.icon-advisory:before {
	content: "\E151";
}

.icon-align-center-new:before {
	content: "\E152";
}

.icon-all-collapse:before {
	content: "\E153";
}

.icon-all-open:before {
	content: "\E154";
}

.icon-api-common:before {
	content: "\E155";
}

.icon-api-input:before {
	content: "\E156";
}

.icon-api:before {
	content: "\E157";
}

.icon-app-download:before {
	content: "\E158";
}

.icon-appendix:before {
	content: "\E159";
}

.icon-application:before {
	content: "\E15A";
}

.icon-archived-item:before {
	content: "\E15B";
}

.icon-arrow-down-l:before {
	content: "\E15C";
}

.icon-arrow-down-o:before {
	content: "\E15D";
}

.icon-arrow-left-l:before {
	content: "\E15E";
}

.icon-arrow-left-o:before {
	content: "\E15F";
}

.icon-arrow-right-l:before {
	content: "\E160";
}

.icon-arrow-right-o:before {
	content: "\E161";
}

.icon-arrow-up-l:before {
	content: "\E162";
}

.icon-arrow-up-o:before {
	content: "\E163";
}

.icon-arrow:before {
	content: "\E164";
}

.icon-assembly-new:before {
	content: "\E165";
}

.icon-assign:before {
	content: "\E166";
}

.icon-associated-defect:before {
	content: "\E167";
}

.icon-audit-log:before {
	content: "\E168";
}

.icon-auxiliary-tool:before {
	content: "\E169";
}

.icon-b-tree:before {
	content: "\E16A";
}

.icon-back:before {
	content: "\E16B";
}

.icon-base-info:before {
	content: "\E16C";
}

.icon-baseline:before {
	content: "\E16D";
}

.icon-batch-delete:before {
	content: "\E16E";
}

.icon-beans:before {
	content: "\E16F";
}

.icon-beginner-guidance:before {
	content: "\E170";
}

.icon-binding:before {
	content: "\E171";
}

.icon-book:before {
	content: "\E172";
}

.icon-branch-merge-o:before {
	content: "\E173";
}

.icon-broom:before {
	content: "\E174";
}

.icon-build-plugin:before {
	content: "\E175";
}

.icon-build-tool:before {
	content: "\E176";
}

.icon-bulletin:before {
	content: "\E177";
}

.icon-business-setting:before {
	content: "\E178";
}

.icon-calendar-end:before {
	content: "\E179";
}

.icon-calendar-start:before {
	content: "\E17A";
}

.icon-certificate:before {
	content: "\E17B";
}

.icon-chart-analysis:before {
	content: "\E17C";
}

.icon-chart:before {
	content: "\E17D";
}

.icon-check-swb-file:before {
	content: "\E17E";
}

.icon-chevron-down-2:before {
	content: "\E17F";
}

.icon-chevron-left-2:before {
	content: "\E180";
}

.icon-chevron-right-2:before {
	content: "\E181";
}

.icon-chevron-up-2:before {
	content: "\E182";
}

.icon-children-node:before {
	content: "\E183";
}

.icon-clean-record:before {
	content: "\E184";
}

.icon-clearup:before {
	content: "\E185";
}

.icon-clever-customer:before {
	content: "\E186";
}

.icon-cloud-service-new:before {
	content: "\E187";
}

.icon-cn-change:before {
	content: "\E188";
}

.icon-cockpit:before {
	content: "\E189";
}

.icon-code-repo:before {
	content: "\E18A";
}

.icon-code:before {
	content: "\E18B";
}

.icon-codecheck-plugin:before {
	content: "\E18C";
}

.icon-collapse-new:before {
	content: "\E18D";
}

.icon-collapse-to-left:before {
	content: "\E18E";
}

.icon-collapse-to-top:before {
	content: "\E18F";
}

.icon-collection:before {
	content: "\E190";
}

.icon-colony:before {
	content: "\E191";
}

.icon-command-generator:before {
	content: "\E192";
}

.icon-comment:before {
	content: "\E193";
}

.icon-commit:before {
	content: "\E194";
}

.icon-company-member:before {
	content: "\E195";
}

.icon-condition-input:before {
	content: "\E196";
}

.icon-connector:before {
	content: "\E197";
}

.icon-console:before {
	content: "\E198";
}

.icon-construct-product:before {
	content: "\E199";
}

.icon-container-new:before {
	content: "\E19A";
}

.icon-copy-new:before {
	content: "\E19B";
}

.icon-course:before {
	content: "\E19C";
}

.icon-custom-checkpoint:before {
	content: "\E19D";
}

.icon-cut-new:before {
	content: "\E19E";
}

.icon-dark:before {
	content: "\E19F";
}

.icon-data-mart:before {
	content: "\E1A0";
}

.icon-data-storage:before {
	content: "\E1A1";
}

.icon-database:before {
	content: "\E1A2";
}

.icon-date:before {
	content: "\E1A3";
}

.icon-delay-approval:before {
	content: "\E1A4";
}

.icon-delay:before {
	content: "\E1A5";
}

.icon-deploy-plugin:before {
	content: "\E1A6";
}

.icon-deploy-store:before {
	content: "\E1A7";
}

.icon-desk-notice:before {
	content: "\E1A8";
}

.icon-detail-view:before {
	content: "\E1A9";
}

.icon-details:before {
	content: "\E1AA";
}

.icon-devcloud-service:before {
	content: "\E1AB";
}

.icon-develop-collaboration:before {
	content: "\E1AC";
}

.icon-diagnose:before {
	content: "\E1AD";
}

.icon-directory-2:before {
	content: "\E1AE";
}

.icon-disaster-recovery:before {
	content: "\E1AF";
}

.icon-dislike:before {
	content: "\E1B0";
}

.icon-display-input:before {
	content: "\E1B1";
}

.icon-distribute:before {
	content: "\E1B2";
}

.icon-distribution:before {
	content: "\E1B3";
}

.icon-dolphin-logo:before {
	content: "\E1B4";
}

.icon-domain-group:before {
	content: "\E1B5";
}

.icon-domain:before {
	content: "\E1B6";
}

.icon-double-down:before {
	content: "\E1B7";
}

.icon-double-up:before {
	content: "\E1B8";
}

.icon-download-2:before {
	content: "\E1B9";
}

.icon-download-3:before {
	content: "\E1BA";
}

.icon-download-asc:before {
	content: "\E1BB";
}

.icon-download-p7s:before {
	content: "\E1BC";
}

.icon-download-template:before {
	content: "\E1BD";
}

.icon-drag-new:before {
	content: "\E1BE";
}

.icon-dropdown-multiple:before {
	content: "\E1BF";
}

.icon-dropdown-single:before {
	content: "\E1C0";
}

.icon-droptree:before {
	content: "\E1C1";
}

.icon-edit-3:before {
	content: "\E1C2";
}

.icon-editor:before {
	content: "\E1C3";
}

.icon-email-set:before {
	content: "\E1C4";
}

.icon-email:before {
	content: "\E1C5";
}

.icon-en-change-2:before {
	content: "\E1C6";
}

.icon-en-change:before {
	content: "\E1C7";
}

.icon-end-new:before {
	content: "\E1C8";
}

.icon-enlarge:before {
	content: "\E1C9";
}

.icon-enter:before {
	content: "\E1CA";
}

.icon-enumeration:before {
	content: "\E1CB";
}

.icon-environment:before {
	content: "\E1CC";
}

.icon-exit-loop-new:before {
	content: "\E1CD";
}

.icon-exit:before {
	content: "\E1CE";
}

.icon-expand-new:before {
	content: "\E1CF";
}

.icon-experice-new:before {
	content: "\E1D0";
}

.icon-expiration-date:before {
	content: "\E1D1";
}

.icon-export-o:before {
	content: "\E1D2";
}

.icon-extract-dependency:before {
	content: "\E1D3";
}

.icon-fee-center:before {
	content: "\E1D4";
}

.icon-feedback:before {
	content: "\E1D5";
}

.icon-feedback2:before {
	content: "\E1D6";
}

.icon-file:before {
	content: "\E1D7";
}

.icon-filter-list:before {
	content: "\E1D8";
}

.icon-flow:before {
	content: "\E1D9";
}

.icon-folder-new:before {
	content: "\E1DA";
}

.icon-folder:before {
	content: "\E1DB";
}

.icon-follow-us:before {
	content: "\E1DC";
}

.icon-for-example:before {
	content: "\E1DD";
}

.icon-forbid-2:before {
	content: "\E1DE";
}

.icon-forbid-download:before {
	content: "\E1DF";
}

.icon-format:before {
	content: "\E1E0";
}

.icon-forum:before {
	content: "\E1E1";
}

.icon-full-screen:before {
	content: "\E1E2";
}

.icon-function-ai:before {
	content: "\E1E3";
}

.icon-function-graph:before {
	content: "\E1E4";
}

.icon-general-plugin:before {
	content: "\E1E5";
}

.icon-global-guide:before {
	content: "\E1E6";
}

.icon-global-variable:before {
	content: "\E1E7";
}

.icon-go-top:before {
	content: "\E1E8";
}

.icon-grab:before {
	content: "\E1E9";
}

.icon-grabbing:before {
	content: "\E1EA";
}

.icon-hamburger:before {
	content: "\E1EB";
}

.icon-health-check-2:before {
	content: "\E1EC";
}

.icon-helping:before {
	content: "\E1ED";
}

.icon-history:before {
	content: "\E1EE";
}

.icon-homepage:before {
	content: "\E1EF";
}

.icon-homologous-tool:before {
	content: "\E1F0";
}

.icon-host-group:before {
	content: "\E1F1";
}

.icon-host-set:before {
	content: "\E1F2";
}

.icon-host:before {
	content: "\E1F3";
}

.icon-http-new:before {
	content: "\E1F4";
}

.icon-hwp7s:before {
	content: "\E1F5";
}

.icon-id:before {
	content: "\E1F6";
}

.icon-identity-auth:before {
	content: "\E1F7";
}

.icon-identity:before {
	content: "\E1F8";
}

.icon-image-o:before {
	content: "\E1F9";
}

.icon-import-o:before {
	content: "\E1FA";
}

.icon-incremental-rebuild:before {
	content: "\E1FB";
}

.icon-inform:before {
	content: "\E1FC";
}

.icon-information:before {
	content: "\E1FD";
}

.icon-infrastructure:before {
	content: "\E1FE";
}

.icon-inherit:before {
	content: "\E1FF";
}

.icon-input-new:before {
	content: "\E200";
}

.icon-install:before {
	content: "\E201";
}

.icon-invalid:before {
	content: "\E202";
}

.icon-ip-legality:before {
	content: "\E203";
}

.icon-job-collapse:before {
	content: "\E204";
}

.icon-job-expand:before {
	content: "\E205";
}

.icon-jump-to-fill:before {
	content: "\E206";
}

.icon-jump-to:before {
	content: "\E207";
}

.icon-kanban-l:before {
	content: "\E208";
}

.icon-key-o:before {
	content: "\E209";
}

.icon-license:before {
	content: "\E20A";
}

.icon-light:before {
	content: "\E20B";
}

.icon-like:before {
	content: "\E20C";
}

.icon-line-chart:before {
	content: "\E20D";
}

.icon-link-jump:before {
	content: "\E20E";
}

.icon-living-example:before {
	content: "\E20F";
}

.icon-loading-2:before {
	content: "\E210";
}

.icon-local-variable:before {
	content: "\E211";
}

.icon-location-new:before {
	content: "\E212";
}

.icon-lock-open:before {
	content: "\E213";
}

.icon-lock-private:before {
	content: "\E214";
}

.icon-locked-key:before {
	content: "\E215";
}

.icon-log-info:before {
	content: "\E216";
}

.icon-log-out:before {
	content: "\E217";
}

.icon-loop-new:before {
	content: "\E218";
}

.icon-management-new:before {
	content: "\E219";
}

.icon-management:before {
	content: "\E21A";
}

.icon-mandatory:before {
	content: "\E21B";
}

.icon-manually:before {
	content: "\E21C";
}

.icon-marketing:before {
	content: "\E21D";
}

.icon-marketplace:before {
	content: "\E21E";
}

.icon-meeting:before {
	content: "\E21F";
}

.icon-member-new:before {
	content: "\E220";
}

.icon-member:before {
	content: "\E221";
}

.icon-merge-request2:before {
	content: "\E222";
}

.icon-merge:before {
	content: "\E223";
}

.icon-message-2:before {
	content: "\E224";
}

.icon-message:before {
	content: "\E225";
}

.icon-metrics:before {
	content: "\E226";
}

.icon-mine:before {
	content: "\E227";
}

.icon-mobile-o:before {
	content: "\E228";
}

.icon-mobile-share:before {
	content: "\E229";
}

.icon-modify:before {
	content: "\E22A";
}

.icon-module:before {
	content: "\E22B";
}

.icon-more-2:before {
	content: "\E22C";
}

.icon-more:before {
	content: "\E22D";
}

.icon-mortarboard:before {
	content: "\E22E";
}

.icon-move-down:before {
	content: "\E22F";
}

.icon-move-up:before {
	content: "\E230";
}

.icon-move:before {
	content: "\E231";
}

.icon-multi-input:before {
	content: "\E232";
}

.icon-namespace:before {
	content: "\E233";
}

.icon-nav-collapse:before {
	content: "\E234";
}

.icon-nav-expand:before {
	content: "\E235";
}

.icon-navigation-collapse:before {
	content: "\E236";
}

.icon-navigation-expand:before {
	content: "\E237";
}

.icon-net:before {
	content: "\E238";
}

.icon-new-defect:before {
	content: "\E239";
}

.icon-new-directory-2:before {
	content: "\E23A";
}

.icon-new-line:before {
	content: "\E23B";
}

.icon-new-test-case:before {
	content: "\E23C";
}

.icon-new-test-task:before {
	content: "\E23D";
}

.icon-no-identity:before {
	content: "\E23E";
}

.icon-no-sort:before {
	content: "\E23F";
}

.icon-nogroup:before {
	content: "\E240";
}

.icon-notice:before {
	content: "\E241";
}

.icon-number-input:before {
	content: "\E242";
}

.icon-numbering-rule:before {
	content: "\E243";
}

.icon-object-storage:before {
	content: "\E244";
}

.icon-obsolete:before {
	content: "\E245";
}

.icon-office:before {
	content: "\E246";
}

.icon-offline:before {
	content: "\E247";
}

.icon-open-folder-2:before {
	content: "\E248";
}

.icon-operation-log:before {
	content: "\E249";
}

.icon-overview:before {
	content: "\E24A";
}

.icon-parallel:before {
	content: "\E24B";
}

.icon-partner:before {
	content: "\E24C";
}

.icon-past-point:before {
	content: "\E24D";
}

.icon-pasting-2:before {
	content: "\E24E";
}

.icon-payment:before {
	content: "\E24F";
}

.icon-pdm-sync:before {
	content: "\E250";
}

.icon-personal-data:before {
	content: "\E251";
}

.icon-point-copy:before {
	content: "\E252";
}

.icon-point:before {
	content: "\E253";
}

.icon-position:before {
	content: "\E254";
}

.icon-postman-new:before {
	content: "\E255";
}

.icon-primarize:before {
	content: "\E256";
}

.icon-privacy:before {
	content: "\E257";
}

.icon-project-nav:before {
	content: "\E258";
}

.icon-project-new:before {
	content: "\E259";
}

.icon-property-setting:before {
	content: "\E25A";
}

.icon-publish-new:before {
	content: "\E25B";
}

.icon-pushpin-fill:before {
	content: "\E25C";
}

.icon-pushpin:before {
	content: "\E25D";
}

.icon-radio:before {
	content: "\E25E";
}

.icon-rebuild-failed:before {
	content: "\E25F";
}

.icon-recover-download:before {
	content: "\E260";
}

.icon-recover:before {
	content: "\E261";
}

.icon-recycling:before {
	content: "\E262";
}

.icon-redo-new:before {
	content: "\E263";
}

.icon-refresh-config:before {
	content: "\E264";
}

.icon-related-2:before {
	content: "\E265";
}

.icon-related:before {
	content: "\E266";
}

.icon-relation-item:before {
	content: "\E267";
}

.icon-remove-member:before {
	content: "\E268";
}

.icon-rename-o:before {
	content: "\E269";
}

.icon-replace:before {
	content: "\E26A";
}

.icon-report-guideline:before {
	content: "\E26B";
}

.icon-requestor:before {
	content: "\E26C";
}

.icon-rerun:before {
	content: "\E26D";
}

.icon-reset:before {
	content: "\E26E";
}

.icon-response-header:before {
	content: "\E26F";
}

.icon-response:before {
	content: "\E270";
}

.icon-retrieval:before {
	content: "\E271";
}

.icon-review:before {
	content: "\E272";
}

.icon-revoke-2:before {
	content: "\E273";
}

.icon-revoke-new:before {
	content: "\E274";
}

.icon-rocket:before {
	content: "\E275";
}

.icon-rollback-o:before {
	content: "\E276";
}

.icon-rotate:before {
	content: "\E277";
}

.icon-round-corner:before {
	content: "\E278";
}

.icon-run-continue:before {
	content: "\E279";
}

.icon-run-o:before {
	content: "\E27A";
}

.icon-run-with-parameter-2:before {
	content: "\E27B";
}

.icon-saas:before {
	content: "\E27C";
}

.icon-safe-setting:before {
	content: "\E27D";
}

.icon-save-2:before {
	content: "\E27E";
}

.icon-scan-focus:before {
	content: "\E27F";
}

.icon-schedule:before {
	content: "\E280";
}

.icon-score:before {
	content: "\E281";
}

.icon-search-new:before {
	content: "\E282";
}

.icon-selct-template:before {
	content: "\E283";
}

.icon-selected-product:before {
	content: "\E284";
}

.icon-sequence-new:before {
	content: "\E285";
}

.icon-serial:before {
	content: "\E286";
}

.icon-setting-results:before {
	content: "\E287";
}

.icon-setting:before {
	content: "\E288";
}

.icon-setup-2:before {
	content: "\E289";
}

.icon-share-one:before {
	content: "\E28A";
}

.icon-sharing:before {
	content: "\E28B";
}

.icon-shopping-cart:before {
	content: "\E28C";
}

.icon-show-source:before {
	content: "\E28D";
}

.icon-shutdown:before {
	content: "\E28E";
}

.icon-sort-2:before {
	content: "\E28F";
}

.icon-sort-down-2:before {
	content: "\E290";
}

.icon-source-jump:before {
	content: "\E291";
}

.icon-start-new:before {
	content: "\E292";
}

.icon-status:before {
	content: "\E293";
}

.icon-stop-new:before {
	content: "\E294";
}

.icon-store-new:before {
	content: "\E295";
}

.icon-string:before {
	content: "\E296";
}

.icon-sub-node:before {
	content: "\E297";
}

.icon-submit:before {
	content: "\E298";
}

.icon-subscribe:before {
	content: "\E299";
}

.icon-suggestion:before {
	content: "\E29A";
}

.icon-swb-download:before {
	content: "\E29B";
}

.icon-switch-new:before {
	content: "\E29C";
}

.icon-switch-to:before {
	content: "\E29D";
}

.icon-synchrony:before {
	content: "\E29E";
}

.icon-system-folder:before {
	content: "\E29F";
}

.icon-system:before {
	content: "\E2A0";
}

.icon-tag:before {
	content: "\E2A1";
}

.icon-task-parameters:before {
	content: "\E2A2";
}

.icon-tasklist:before {
	content: "\E2A3";
}

.icon-test-case:before {
	content: "\E2A4";
}

.icon-test-change-default:before {
	content: "\E2A5";
}

.icon-test-change-select:before {
	content: "\E2A6";
}

.icon-test-task:before {
	content: "\E2A7";
}

.icon-text:before {
	content: "\E2A8";
}

.icon-theme-color:before {
	content: "\E2A9";
}

.icon-theme:before {
	content: "\E2AA";
}

.icon-theory-practice:before {
	content: "\E2AB";
}

.icon-time-update:before {
	content: "\E2AC";
}

.icon-time:before {
	content: "\E2AD";
}

.icon-timegap:before {
	content: "\E2AE";
}

.icon-token:before {
	content: "\E2AF";
}

.icon-treatment:before {
	content: "\E2B0";
}

.icon-tree-collapse:before {
	content: "\E2B1";
}

.icon-tree-expand:before {
	content: "\E2B2";
}

.icon-trigger-new:before {
	content: "\E2B3";
}

.icon-trigger:before {
	content: "\E2B4";
}

.icon-turn-on:before {
	content: "\E2B5";
}

.icon-unarchived-item:before {
	content: "\E2B6";
}

.icon-unbinding:before {
	content: "\E2B7";
}

.icon-undo-delete:before {
	content: "\E2B8";
}

.icon-unlock:before {
	content: "\E2B9";
}

.icon-unlove:before {
	content: "\E2BA";
}

.icon-unpublish:before {
	content: "\E2BB";
}

.icon-unselected:before {
	content: "\E2BC";
}

.icon-unsubscribe:before {
	content: "\E2BD";
}

.icon-update:before {
	content: "\E2BE";
}

.icon-upload-folder:before {
	content: "\E2BF";
}

.icon-use-report:before {
	content: "\E2C0";
}

.icon-user-defined:before {
	content: "\E2C1";
}

.icon-user-guide:before {
	content: "\E2C2";
}

.icon-verification-o:before {
	content: "\E2C3";
}

.icon-version-history:before {
	content: "\E2C4";
}

.icon-view-2:before {
	content: "\E2C5";
}

.icon-view-forbidden:before {
	content: "\E2C6";
}

.icon-view-more:before {
	content: "\E2C7";
}

.icon-view-new:before {
	content: "\E2C8";
}

.icon-view-repeat:before {
	content: "\E2C9";
}

.icon-view-report:before {
	content: "\E2CA";
}

.icon-warehousing:before {
	content: "\E2CB";
}

.icon-warning-triangle:before {
	content: "\E2CC";
}

.icon-webhook-issue:before {
	content: "\E2CD";
}

.icon-webhook-push:before {
	content: "\E2CE";
}

.icon-white-list:before {
	content: "\E2CF";
}

.icon-whole:before {
	content: "\E2D0";
}

.icon-widen-all:before {
	content: "\E2D1";
}

.icon-widen:before {
	content: "\E2D2";
}

.icon-workload:before {
	content: "\E2D3";
}

.icon-zip-new:before {
	content: "\E2D4";
}

.icon-zoom-all:before {
	content: "\E2D5";
}

.icon-zoom-out-2:before {
	content: "\E2D6";
}

.icon-zoom-screen:before {
	content: "\E2D7";
}

.icon-zoom:before {
	content: "\E2D8";
}